[data-lucide] {
    width: 20px;
    height: 20px;
}

.bg-box {
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(#c7c7c7 0.1px, transparent 1px), linear-gradient(to right, #d3d3d3 1px, #ffffff 1px);
    background-size: 30px 30px;
}

.nav-link.active {
    text-decoration: underline;
    font-weight: bold;
    color: #000000;
}


.file-input-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px dashed #0d6efd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.file-input-container:hover {
    background-color: #f0f8ff;
}

.file-input-container input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-icon {
    font-size: 2rem;
    margin-right: 2rem;
    color: #0d6efd;
}

